@import url('https://fonts.googleapis.com/css2?family=Inter:wghpreviewWrapt@300;400;500;600;700&display=swap');

body,
*,
button {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.previewWrap1New {
    position: relative;
    height: 100%;
    /* background: #EFEFEF url("../../../assests/img1/background.jpg") no-repeat center center; */
    padding-bottom: 20px;
    background-attachment: fixed;
}

.previewWrap1New .bannerImage {
    height: 200px;
    position: absolute;
    width: 100%;
    background: #f4f4f4;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.05);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.05);
}

.previewWrap1New .bannerImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: center center
}

.previewContainer1New {
    max-width: 380px;
    padding: 0 12px 60px;
    margin: 0 auto;
    position: relative;
    z-index: 5
}

.previewContainer1New .header {
    padding-top: 65px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 220px;
}

.previewContainer1New .header img {
    width: 106px
}

.previewContainer1New .header img path {
    fill: #fff
}

.previewContainer1New .header .btn {
    width: auto;
    height: 30px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer1New .userDetails {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C3C3C3;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 30px
}

.previewContainer1New .userDetails figure {
    width: 122px;
    min-width: 122px;
    height: 200px;
    margin: 0
}

.previewContainer1New .userDetails figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

/* .previewContainer1New .userDetails .user {
    width: calc(100% - 122px)
} */

.previewContainer1New .user {
    padding: 20px
}

.previewContainer1New .user h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-bottom: 5px;
    word-wrap: break-word;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.previewContainer1New .user p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #525252;
}

.previewContainer1New .buttons {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer1New .buttons a {
    height: 49px;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap: 17px;
    color: #000;
    background: #e6e6e6
}

.previewContainer1New .buttons a.addToContact {
    background: black;
    color: #fff
}

.previewContainer1New h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    padding-right: 30px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 10px;
    border-bottom: solid 1px #D9D9D9;
}
.previewContainer1New h4{
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    padding-right: 30px;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding:4px 0 14px;
    border-bottom: solid 1px #D9D9D9;
}
.previewContainer1New h2 span{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    background: #1D1D1F;
}
/* 
.previewContainer1New h2:after {
    position: absolute;
    content: "";
    width: 22.03px;
    height: 3.3px;
    right: 0%;
    top: 18px;
    background: black
} */

.previewContainer1New .about {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    color: #424242
}

.previewContainer1New .social-links {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 0 0 35px 0;
    background: #1D1D1F;
    padding: 9px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.previewContainer1New .social-links a {
    width: 44px;
    height: 44px;
    min-width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1D1D1F;
    border: 0.829932px solid #FFFFFF;
    border-radius: 44px;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px
}

.previewContainer1New .social-media {
    display: flex;
    margin: 0;
    padding: 0;
}
.previewContainer1New .contactOptions .social-media a{
    padding:0 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 34px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    width: 100%;
    /* background: url('../../../assests/img/more_icon.svg') no-repeat right center; */
}
.previewContainer1New .contactOptions .social-media a img{
    width: 43px;
    height: 43px;
}
.previewContainer1New .social-media h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.previewContainer1New .social-media h5 span{
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #858585;
    font-weight: 400;

}
.previewContainer1New .contactOptions {
    margin-bottom: 13px;
    background: #FFFFFF;
    padding: 16px 24px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.previewContainer1New .contactOptions h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
}

.previewContainer1New .contactOptions a {
    padding:0 0 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 34px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
}

.previewContainer1New a.blk-btn{
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    background: #1D1D1F;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px
}

.previewContainer1New .otherLinks {
    margin-bottom: 40px
}

.previewContainer1New .otherLinks a {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 0;
    background: #efefef url("../../../assests/img/more_icon.svg") no-repeat 96% center
}

.previewContainer1New .otherLinks figure {
    min-width: 180px;
    width: 180px;
    height: 89px;
    padding-left: 1px;
}

.previewContainer1New .otherLinks figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}

.previewContainer1New .otherLinks figcaption {
    padding: 15px 35px 15px 15px;
    width: calc(100% - 180px);
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e
}

.previewContainer1New .photoGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: space-between;
    margin-bottom: 20px
}
.previewContainer1New .photoGrid img{
    object-fit: cover;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0;
}
.qr-code1 {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 27px;
    bottom: 27px;
    width: 60px;
    height: 60px;
    background: #1D1D1F;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 41px;
    -moz-border-radius: 41px;
    -webkit-border-radius: 41px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.share{
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100px;
    bottom: 27px;
    width: 60px;
    height: 60px;
    background: #1D1D1F;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 41px;
    -moz-border-radius: 41px;
    -webkit-border-radius: 41px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.share img{
    width: 75%;
    margin-bottom: 4px;
}
.addToContact{
    width: 150px;
    height: 60px;
    position: fixed;
    right: 27px;
    bottom: 27px;
    z-index: 10;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}
.addToContact img{
    width: 27%;
}
.previewContainer1New .photoGrid figure {
    min-width: calc(50% - 11px);
    height: 164px;
    display: block;
    margin-bottom: 22px
}

.previewContainer1New .photoGrid figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer1New .companyLogo {
    margin-bottom: 40px
}

.previewContainer1New .companyLogo img {
    display: block;
    height: 50px;
    margin: 0 auto
}

.footer {
    text-align: center;
    padding: 25px 0 18px;
    background: #1e1e1e
}

.footer p {
    font-size: 14px;
    line-height: 15px;
    background: linear-gradient(90deg, #DBB24B 0%, #DED099 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px
}

.footer p a {
    text-decoration: none;
    color: #fff
}
.popup-containerNew{
    background: #EFEFEF;
}
.popup-containerNew .close-popup{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000000;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

.popup-containerNew .userDetails{
    padding: 30px;
    width: 100%;
}
.popup-containerNew .userDetails figure{
    width: 140px;
    height: 140px;
    margin: 0 auto 10px;
    overflow: hidden;
    border-radius: 140px;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
}
.popup-containerNew .userDetails .user{
    text-align: center;
    margin-bottom: 20px;
}
.popup-containerNew .userDetails .user h1{
    font-weight: 600;
    font-size: 27.88px;
    line-height: 34px;
    color: #000;
    margin-bottom: 4px;
}
.popup-containerNew .userDetails .user p{
    /* color: #525252; */
    font-weight: 600;
    font-size: 14px;

}
.popup-containerNew .my-qr-code{
    margin: 0 auto 30px;
}
.popup-containerNew .my-qr-download{
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 200px;
    margin: 0 auto 30px;
}
.addToHomeNew{
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-left: 14px;
    cursor: pointer;
    background: #000000 url("../../../assests/img1/plus_icon.svg") no-repeat 95% center;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}
.addtoHomeImageNew{
    max-width: 80%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    margin:20px auto 0;
}
.popup-containerNew .userDetails figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }