@import"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

body,
*,
button {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

.previewWrap14 {
    position: relative;
    height: 100%
}

.previewWrap14 .bannerImage {
    height: 220px;
    position: absolute;
    width: 100%;
    background: #f4f4f4
}

.previewWrap14 .bannerImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: center center
}

.previewContainer14 {
    max-width: 380px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 5
}

.previewContainer14 .header {
    padding-top: 65px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 170px;
}

.previewContainer14 .header img {
    width: 106px
}

.previewContainer14 .header img path {
    fill: #fff
}

.previewContainer14 .header .btn {
    width: auto;
    height: 30px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer14 .userDetails {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    /* background:black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 30px */
}
.userDetails-img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 30px ; 
}
.previewContainer14 .userDetails figure {
    width: 154px;
    min-width: 154px;
    height: 200px;
    margin: 0
}

.previewContainer14 .userDetails figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer14 .userDetails .user {
    width: calc(100% - 154px)
}

.previewContainer14 .user {
    padding: 25px
}

.previewContainer14 .user h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* color:black; */
    margin-bottom: 5px
}

.previewContainer14 .user p {
    margin: 0;
    font-size: 12px;
    /* font-weight: 600px; */
    line-height: 18px;
    color: #312b2b
}

.previewContainer14 .buttons {
    display: flex;
    /* width: 100%; */
    overflow: hidden;
    margin-bottom: 26px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer14 .buttons a {
    /* padding: 10px 0 10px; */
    height: 53px;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap: 17px;
    color: #000;
    background: #e6e6e6
}

.previewContainer14 .buttons a.addTo {
    background: linear-gradient(90deg, #662D8C 0%, #ED1E79 100%);
    color: #fff;
}

.previewContainer14 h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    /* color:black; */
}

.previewContainer14 h2:after {
    position: absolute;
    content: "";
    width: 22.03px;
    height: 3.3px;
    right: 0%;
    top: 18px;
    background: linear-gradient(90deg, #662D8C 0%, #ED1E79 100%);
}

.previewContainer14 .about {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    /* color: black; */
    

}

.previewContainer14 .social-links {
    display: flex;
    gap: 28px;
    /* justify-content: space-between; */
    margin: 0 0 35px 0
}

.previewContainer14 .social-links a {
    width: 54px;
    height: 54px;
    min-width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #662D8C 0%, #ED1E79 100%);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}



.previewContainer14 .contactOptions {
    margin-bottom: 40px
}

.previewContainer14 .contactOptions a {
    padding: 10px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 34px;
    /* color:black;  */
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    border-bottom: solid 1px grey;
    background: url("../../../assests/img/more_icon.svg") no-repeat right center
}

.previewContainer14 .otherLinks {
    margin-bottom: 40px
}

.previewContainer14 .otherLinks a {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
    background: #efefef url("../../../assests/img/more_icon.svg") no-repeat 96% center
}

.previewContainer14 .otherLinks figure {
    min-width: 180px;
    width: 180px;
    height: 80px
}

.previewContainer14 .otherLinks figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer14 .otherLinks figcaption {
    padding: 15px 35px 15px 15px;
    width: calc(100% - 180px);
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e
}

.previewContainer14 .photoGrid {
    display:grid;
    
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 20px;
    
    grid-template-columns: 50% 50%;

}
 .photoGrid {
  
    display:flex;
    grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  display: flex;
  color: #EFEFEF;


}
.mb-6{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.qr-code-minimal {
    right: 7px;
    background: linear-gradient(90deg, #662D8C 0%, #ED1E79 100%);
    border: none;
    padding: 12px;
    border-radius: 5px !important;
}
.previewContainer14 .photoGrid figure {
    min-width: calc(50% - 11px);
    height: 164px;
    display: block;
    margin-bottom: 22px
}

.previewContainer14 .photoGrid figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer14 .companyLogo {
    margin-bottom: 40px
}

.previewContainer14 .companyLogo img {
    display: block;
    height: 50px;
    margin: 0 auto
}

.previewWrap14 .footer {
    text-align: center;
    padding: 25px 0 18px ;
    padding-bottom: 100px;
    background: #1e1e1e
}

.previewWrap14 .footer p {
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 5px
}

.previewWrap14 .footer p a {
    text-decoration: none;
    color: #fff
}

.popup-container3{
    background: #EFEFEF;
}

.popup-container3 .close-popup{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #662D8C 0%, #ED1E79 100%);
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

.popup-container3 .userDetails{
    padding: 30px;
    width: 100%;
}
.popup-container3 .userDetails figure{
    width: 140px;
    height: 140px;
    margin: 0 auto 10px;
    overflow: hidden;
    border-radius: 140px;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
}
.popup-container3 .userDetails .user{
    text-align: center;
    margin-bottom: 20px;
}
.popup-container3 .userDetails .user h1{
    font-weight: 600;
    font-size: 27.88px;
    line-height: 34px;
    color: #000;
    margin-bottom: 4px;
}
.popup-container3 .userDetails .user p{
    color: #525252;
    font-weight: 600;
    font-size: 14px;

}
.popup-container3 .my-qr-code{
    margin: 0 auto 30px;
}
.popup-container3 .my-qr-download{
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 200px;
    margin: 0 auto 30px;
}
.addToHome3{
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-left: 14px;
    cursor: pointer;
    background:  url("../../../assests/img1/plus_icon.svg")  no-repeat 95% center,   linear-gradient(90deg, #662D8C 0%, #ED1E79 100%);;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}
.addtoHomeImage3{
    max-width: 80%;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    margin:20px auto 0;
}
.popup-container3 .userDetails figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }


