@import"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

body,
*,
button {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

.previewWrap {
    position: relative;
    height: 100%;
    background-color: black;
  
}

.previewWrap .bannerImage {
    height: 200px;
    position: absolute;
    width: 100%;
    background: #f4f4f4;
    background-color: black;
  
    
}

.previewWrap .bannerImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: center center;
    background-color: #000;
   
}

.previewContainer5 {
    max-width: 380px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background-color: white;
  
    
}

.previewContainer5 .header {
    padding-top: 65px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 170px;
    background-color: rgb(8, 5, 5);
  
   
}

.previewContainer5 .header img {
    width: 106px;
    
}

.previewContainer5 .header img path {
    fill: #100404;
}

.previewContainer5 .header .btn {
    width: auto;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: white;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

.previewContainer5 .userDetails {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 30px;
    
}

.previewContainer5 .userDetails figure {
    width: 154px;
    min-width: 154px;
    height: 200px;
    margin: 0
}

.previewContainer5 .userDetails figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer5 .userDetails .user {
    width: calc(100% - 154px);

}

.previewContainer5 .user {
    padding: 25px
}

.previewContainer5 .user h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color:black;
    
    margin-bottom: 5px
}

.previewContainer5 .user p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #7E7E7E;


}

.previewContainer5 .buttons {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer5 .buttons a {
    height: 49px;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap: 17px;
    color: #000;
    background: #e6e6e6
}@import"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

body,
*,
button {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

.previewWrap {
    position: relative;
    height: 100%;
    background-color: black;
  
}

.previewWrap .bannerImage {
    height: 200px;
    position: absolute;
    width: 100%;
    background: #f4f4f4;
    background-color: black;
  
    
}

.previewWrap .bannerImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: center center;
    background-color: #000;
   
}

.previewContainer5 {
    max-width: 380px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background-color:black;
  
    
}

.previewContainer5 .header {
    padding-top: 65px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 170px;
    background-color: rgb(8, 5, 5);
  
   
}

.previewContainer5 .header img {
    width: 106px;
    
}

.previewContainer5 .header img path {
    fill: #100404;
}

.previewContainer5 .header .btn {
    width: auto;
    height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: white;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

.previewContainer5 .userDetails {
    position: relative;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(90deg, #FF5030 0%, #DD2475 100%);
    border-radius: 10px;
    /* -moz-border-radius: 10px; */
    /* -webkit-border-radius: 10px; */
    /* margin-bottom: 30px; */
    
}

.previewContainer5 .userDetails figure {
    width: 154px;
    min-width: 154px;
    height: 200px;
    margin: 0
}

.previewContainer5 .userDetails figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer5 .userDetails .user {
    /* width: calc(100% - 154px); */
    margin: 2px;

}

.previewContainer5 .user {
    padding: 25px
}

.previewContainer5 .user h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color:black;
    
    margin-bottom: 5px
}

.previewContainer5 .user p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #7E7E7E;


}

.previewContainer5 .buttons {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer5 .buttons a {
    height: 49px;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap: 17px;
    color: #000;
    background: #e6e6e6
}

.previewContainer5 .buttons a.addTo {
    background: linear-gradient(90deg, #FE4F31 0%, #DD2474 100%);
border-radius: 3.95px;
    color:white;
}

.previewContainer5 h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    color: white;
}

.previewContainer5 h2:after {
    position: absolute;
    content: "";
    width: 22.03px;
    height: 3.3px;
    right: 0%;
    top: 18px;
    background: black;
    color:white;
}

.previewContainer5 .about {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    color:#818181;

    
}

.previewContainer5 .social-links {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 0 0 35px 0
}

.previewContainer5 .social-links a {
    width: 54px;
    height: 54px;
    min-width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #FE4F31 0%, #DD2474 100%);
border-radius: 3.95px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.previewContainer5 .contactOptions {
    margin-bottom: 40px;
    color: rgb(208, 168, 168);
    
}

.previewContainer5 .contactOptions a {
    padding: 10px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 34px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    border-bottom: solid 1px;
    
    background: url("../../assests/img/more_icon.svg") no-repeat right center
}

.sharebuttons{
    background-color: #EFEFEF
    !important;
}

.previewContainer5 .otherLinks {
    margin-bottom: 40px
}

.previewContainer5 .otherLinks a {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
    background: #efefef url("../../assests/img/more_icon.svg") no-repeat 96% center
}

.previewContainer5 .otherLinks figure {
    min-width: 180px;
    width: 180px;
    height: 80px
}

.previewContainer5 .otherLinks figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer5 .otherLinks figcaption {
    padding: 15px 35px 15px 15px;
    width: calc(100% - 180px);
    font-size: 15px;
    line-height: 20px;
    color: black;
}

.previewContainer5 .photoGrid {
    display:grid;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 20px;
    


}
 .photoGrid {
  
    display:flex;
    grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  display: flex;
  color: #EFEFEF;
  

}

.mb-6{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.qr-code {
    right: 7px;
    background: black;
    border: none;
    padding: 12px;
    border-radius: 5px !important;
}
 

 .photoGrid figure img {
   
    -o-object-fit: cover;
    object-fit: cover;
    grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  display:flex;
}

.previewContainer5 .companyLogo {
    margin-bottom: 40px
}

.previewContainer5 .companyLogo img {
    display: block;
    height: 50px;
    margin: 0 auto
}

.footer {
    text-align: center;
    padding: 25px 0 18px;
    background: #1e1e1e
}

.footer p {
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 5px
}

.footer p a {
    text-decoration: none;
    color: #fff;
}



.previewContainer5 .buttons a.addTo {
    background: linear-gradient(90deg, #FE4F31 0%, #DD2474 100%);
border-radius: 3.95px;
    color:white;
}

.previewContainer5 h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 16px
}

.previewContainer5 h2:after {
    position: absolute;
    content: "";
    width: 22.03px;
    height: 3.3px;
    right: 0%;
    top: 18px;
    background: black;
    color:white;
}

.previewContainer5 .about {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    color:#818181;

    
}

.previewContainer5 .social-links {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 0 0 35px 0
}

.previewContainer5 .social-links a {
    width: 54px;
    height: 54px;
    min-width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #FE4F31 0%, #DD2474 100%);
border-radius: 3.95px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.previewContainer5 .contactOptions {
    margin-bottom: 40px;
    color: white;
    
}

.previewContainer5 .contactOptions a {
    padding: 10px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 34px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    border-bottom: solid 1px;
   
    
    background: url("../../assests/img/more_icon.svg") no-repeat right center
}

.sharebuttons{
    background-color: #EFEFEF
    !important;
}

.previewContainer5 .otherLinks {
    margin-bottom: 40px
}

.previewContainer5 .otherLinks a {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
    background: #efefef url("../../assests/img/more_icon.svg") no-repeat 96% center
}

.previewContainer5 .otherLinks figure {
    min-width: 180px;
    width: 180px;
    height: 80px
}

.previewContainer5 .otherLinks figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer5 .otherLinks figcaption {
    padding: 15px 35px 15px 15px;
    width: calc(100% - 180px);
    font-size: 15px;
    line-height: 20px;
    color: black;
}

.previewContainer5 .photoGrid {
    display:grid;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 20px;
    


}
 .photoGrid {
  
    display:flex;
    grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  display: flex;
  color: #EFEFEF;
  

}

.mb-6{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.qr-code {
    right: 7px;
    background: black;
    border: none;
    padding: 12px;
    border-radius: 5px !important;
}
 

 .photoGrid figure img {
   
    -o-object-fit: cover;
    object-fit: cover;
    grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  display:flex;
}

.previewContainer5 .companyLogo {
    margin-bottom: 40px
}

.previewContainer5 .companyLogo img {
    display: block;
    height: 50px;
    margin: 0 auto
}

.footer {
    text-align: center;
    padding: 25px 0 18px;
    background: #1e1e1e
}

.footer p {
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 5px
}

.footer p a {
    text-decoration: none;
    color: #fff;
}

