@import"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

body,
*,
button {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

.previewWrap {
    position: relative;
    height: 100%
}

.previewWrap .bannerImage {
    height: 200px;
    position: absolute;
    width: 100%;
    background: #f4f4f4
}

.previewWrap .bannerImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: center center
}

.previewContainer {
    max-width: 380px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 5
}

.previewContainer .header {
    padding-top: 65px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.previewContainer .header img {
    width: 106px
}

.previewContainer .header img path {
    fill: #fff
}

.previewContainer .header .btn {
    width: auto;
    height: 30px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer .userDetails {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 30px
}

.previewContainer .userDetails figure {
    width: 154px;
    min-width: 154px;
    height: 200px;
    margin: 0
}

.previewContainer .userDetails figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer .userDetails .user {
    width: calc(100% - 154px)
}

.previewContainer .user {
    padding: 25px
}

.previewContainer .user h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 5px
}

.previewContainer .user p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #c8c8c8
}

.previewContainer .buttons {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.previewContainer .buttons a {
    height: 49px;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    gap: 17px;
    color: #000;
    background: #e6e6e6
}

.previewContainer .buttons a.addTo {
    background: #ff5c00;
    color: #fff
}

.previewContainer h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    position: relative;
    display: inline-block;
    margin-bottom: 16px
}

.previewContainer h2:after {
    position: absolute;
    content: "";
    width: 22.03px;
    height: 3.3px;
    right: 0%;
    top: 18px;
    background: #ff5c00
}

.previewContainer .about {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
    color: #424242
}

.previewContainer .social-links {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 0 0 35px 0
}

.previewContainer .social-links a {
    width: 54px;
    height: 54px;
    min-width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.previewContainer .contactOptions {
    margin-bottom: 40px
}

.previewContainer .contactOptions a {
    padding: 10px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    min-height: 34px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    border-bottom: solid 1px #d9d9d9;
    background: url("../../assests/img/more_icon.svg") no-repeat right center
}

.previewContainer .contactOptions a img {
    width: 25px
}

.previewContainer .otherLinks {
    margin-bottom: 40px
}

.previewContainer .otherLinks a {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-decoration: none;
    background: #efefef url("../../assests/img/more_icon.svg") no-repeat 96% center
}

.previewContainer .otherLinks figure {
    min-width: 180px;
    width: 180px;
    height: 80px
}

.previewContainer .otherLinks figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer .otherLinks figcaption {
    padding: 15px 35px 15px 15px;
    width: calc(100% - 180px);
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e
}

.previewContainer .photoGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px
}

.previewContainer .photoGrid figure {
    min-width: calc(50% - 11px);
    height: 164px;
    display: block;
    margin-bottom: 22px
}

.previewContainer .photoGrid figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.previewContainer .companyLogo {
    margin-bottom: 40px
}

.previewContainer .companyLogo img {
    display: block;
    height: 50px;
    margin: 0 auto
}

.footer {
    text-align: center;
    padding: 25px 0 18px;
    background: #1e1e1e
}

.footer p {
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 5px
}

.footer p a {
    text-decoration: none;
    color: #fff
}

